# Coding and Programming

## Capítulo 7

### Procesamiento de datos, estadísticas descriptivas y visualización de datos

- **Unidad 34.** Uso de módulos de Python
- **Unidad 35.** Serie de Pandas para el tratamiento de datos
- **Unidad 36.** Pandas DataFrame para procesamiento de datos
- **Unidad 37.** Ordenamiento de datos
- **Unidad 38.** Datos de series temporales

___

In [1]:
import sys
!{sys.executable} -m pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\ethan\appdata\roaming\python\python39\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\ethan\appdata\roaming\python\python39\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\envs\samsung\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\samsung\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ethan\appdata\roaming\python\python39\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\samsung\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd
pd.__version__

'2.2.1'

## Q 34-01

Convierta los siguientes datos del diccionario en un dataframe usando **Pandas**.

(Denomina el dataframe `df`)

`d = { 'col1':[1,2], 'col2':[3,4], 'col3':[5,6], 'col4':[7,8] }`

In [14]:


d = { 'col1':[1,2], 'col2':[3,4], 'col3':[5,6], 'col4':[7,8] }
df= pd.DataFrame(d)
df

   col1  col2  col3  col4
0     1     3     5     7
1     2     4     6     8

___

## Q 35-01

En el marco de datos creado en la pregunta **Q 34-01**, cree un nuevo dataframe que consista solo en los datos de la columna con el nombre de columna `'col4'`.

(Denomina el dataframe `new_df`)

In [15]:
new_df = pd.DataFrame(d['col4'])
new_df

   0
0  7
1  8

___

## Q 36-01

El índice del dataframe creado en la pregunta **Q 34-01** es `0` y `1`.

Escriba un comando para cambiar el nombre de estos índices a `primero` y `segundo`.

In [16]:

df.index = ['primero', 'segundo']
df

         col1  col2  col3  col4
primero     1     3     5     7
segundo     2     4     6     8

___

## Q 37-01

Escriba un comando para buscar datos faltantes en el dataframe `df` creado en la pregunta **Q 34-01** e imprima el resultado.

(Sin embargo, los datos que faltan deben devolverse como verdaderos).

In [20]:

print(df.isna())

df.any()

          col1   col2   col3   col4
primero  False  False  False  False
segundo  False  False  False  False

col1    True
col2    True
col3    True
col4    True
dtype: bool

___

## Q 38-01

Escriba un comando para verificar el resumen de las estadísticas descriptivas (desviación estándar, valor mínimo, moda, etc.) del dataframe `df` creado en la pregunta **Q 34-01** e imprima el resultado.

In [25]:
print('desviacion estandar: \n', df.std(), '\n')
print('moda: \n', df.mode(), '\n')
print('promedio: \n', df.mean(), '\n')
print('minimo: \n', df.min(), '\n')
print('minimo: \n', df.max())

desviacion estandar:
 col1    0.707107
col2    0.707107
col3    0.707107
col4    0.707107
dtype: float64

moda:
    col1  col2  col3  col4
0     1     3     5     7
1     2     4     6     8

promedio:
 col1    1.5
col2    3.5
col3    5.5
col4    7.5
dtype: float64

minimo:
 col1    1
col2    3
col3    5
col4    7
dtype: int64

minimo:
 col1    2
col2    4
col3    6
col4    8
dtype: int64

___

# Fin